
* {
    margin: 0;
    padding: 0;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.hero-image {
    position: relative; 

     
}

.BP-hero {
    
    position: relative; 
    max-width: 100%;
    

}

.BP-logo {
    
    position: absolute; 
    left: 12.65625%;
    margin: -52% 0 0 0;
    max-width: 25%; 
   
}

.main-nav {
    display: inline-block;
    position: absolute;  
    right: 12.65625%;
    margin: 5.8% 0 0 0;
    z-index: 1;
    
    
    
}

ul {
    display: inline-block; 
    list-style-type: none;
    margin: 0 1vw;
    padding: 0;
  
}

.nav-items li {
    display: inline-block; 
    list-style: none; 
    margin-top: 7.5%; 
    margin: 0 1vw; 
    padding: 0.5vw; 
    color: white;
    font-size: 1.35vw; 
    border: solid 1px white; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    
}

a {
    
    text-decoration: none; 
    color: white; 
}

.rob-mcfarland {
    position: absolute; 
    left: 12.65625%;
    margin: -35% 0 0 0; 
    color: white; 
    padding-top: 0.5vh; 
    padding-bottom: 0.5vh; 
    font-size: 6vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 700; 
    border-top: solid 1px white; 
    border-bottom: solid 1px white; 
}

.job-roles {
    
    position: absolute; 
    left: 12.65625%;  
    margin: -25% 0 0 0; 
    color: white; 
    font-size: 1.6vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
    
}



.BP-arrow {
     
    position: absolute; 
    left: 49%;
    margin: -10% 0 0 0;
    max-width: 2.5%;
    opacity: 0.3; 
    
    
}


.buzz {
    
    
    display: block; 
    background-color: #1b1d1e; 
    max-width: 100%; 
    padding-bottom: 5%;
    margin-top: -1%;
    

    
}




.buzz-headline {
    margin-top: auto;
    padding-top: 5%;
    padding-bottom: 2%; 
    text-align: center; 
    color: white;
    font-size: 5vw;  
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
   
   
    
}

h4 {
    text-align: center;
    color: white; 
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    padding-bottom: 2%; 
    
}
.buzz-copy {
    margin: 0 15% 0 15%;
    color: white;
    font-size: 1.8vw;  
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: center; 
    
}

.youtube {
    
     
    display: block; 
    background-color: #5e6d70; 
    max-width: 100%; 
    padding-bottom: 5%;
   

    
}


.youtube-headline {
    margin-top: auto;
    padding-top: 5%;
    padding-bottom: 2%; 
    text-align: center; 
    color: white;
    font-size: 5vw;  
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.youtube-copy {
    margin: 0 15% 0 15%;
    color: white;
    font-size: 1.8vw;  
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: center; 
    
    
}

.silicon {
    
    
    display: block; 
    background-color: #424e4f; 
    max-width: 100%; 
    padding-bottom: 5%;
   

    
}


.silicon-headline {
    margin-top: auto;
    padding-top: 5%;
    padding-bottom: 2%; 
    text-align: center; 
    color: white;
    font-size: 5vw;  
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.silicon-copy {
    margin: 0 15% 0 15%;
    color: white;
    font-size: 1.8vw;  
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: center; 
    
}

.wrapper {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    background: #1b1d1e;
    height: 100%;
    max-width: 100%;
    padding-bottom: 4%; 
    padding-top: 4%;
    padding-left: 4%; 
    
    
    
    
    
}

.first-row img {
    
    max-width: 26.35416%; 
    margin: 2.3125%; 
     
    
}

.second-row img {
   
    max-width: 42.08333%; 
    margin: 2.3125%;
    
    
}

.third-row img {
   
    
    max-width: 42.08333%; 
    margin: 2.3125%; 
    
    
}

.fourth-row img {
     
    
    max-width: 42.08333%; 
    margin: 2.3125%;  
    
    
}
   

.contact-section {
    
    display: block;  
    background-color: #bf3c14; 
    max-width: 100%; 
    padding-top: 1%;
    padding-bottom: 5%;
     
        
    }
    
.bp-icon {
    margin-top: 3%;
    margin-bottom: 1.9%; 
    margin-left: 36%;
    max-width: 8.5%; 
   
    
}


.give-buzz {
     
    margin-top: -15%; 
    margin-left: 45%; 
    padding-top: 5%; 
    color: white;
    font-size: 3vw;  
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
        
        
}

.email-copy {
    
    margin-left: 45%; 
    color: white;
    font-size: 1.86vw;  
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
    
}




/**********

MEDIA QUERIES



***********/

@media only screen and (max-width: 480px) {
  
}  
@media only screen and (max-width: 768px) {  

    .wrapper {
        padding-top: 4%; 
        
    }

    
.first-row img {
    
    max-width: 90%;
    
    
     
    
}

.second-row img {
   
    max-width: 90%; 
    
    
    
}

.third-row img {
   
    
    max-width: 90%; 
     
    
    
}

.fourth-row img {
     
    
    max-width: 90%; 
    
    
    
}

